<!doctype html>
<html lang="en">
<title>Website</title>

<body>
 <head>
<link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>

<div id="banner">
  
  <div id="a1">
    <div id="btncustom"><a href src="#">Register</a></div>
    <a href src="#">Sign in</a>
  </div>

</div>

<div id="a2"></div>


<div id="mid">
<div id="c1h"><center>How It Works</center></div>
</div>

<div id="c1">
    <div id="c2h"><center>Customer Testimonials</center></div>  
</div>

<div id="c2">


</div>


</body>


</html>