<div id="a2">

  <div id="s1">
  <form>
  <div class="column">
    <div class="small-3 small-centered columns">
     
      <input type="text" placeholder="City">
      <a href="#" class="button">Default Button</a>
  </form>
      
    </div>
    
</form>

  </div>

</div>

<div id="mid">
	<div id="c1h"><center>How It Works</center></div>
</div>

<div id="c1">
	<div id="c2h"><center>Customer Testimonials</center></div>  
</div>

<div id="c2">
</div>
