<div id="a2"></div>

<div id="mid">
	<div id="c1h"><center>How It Works</center></div>
</div>

<div id="c1">
	<div id="c2h"><center>Customer Testimonials</center></div>  
</div>

<div id="c2">
</div>
