<div class="off-canvas-wrap">
	<div class="inner-wrap">
		<nav class="tab-bar">
			<section class="left tab-bar-section">
				<h1 class="title">WaySweeter</h1>
			</section>
			
			<section class="top-bar-section">
				<ul class="right">
					<%= render 'layouts/loggedin' %>
				</ul>
			</section>		
		</nav>
	</div>
</div>

<div class="footer">
</div>