<div class="off-canvas-wrap">
	<div class="inner-wrap">
		<nav class="tab-bar">
			<section class="left tab-bar-section">
				<h1 class="title">WaySweeter</h1>
			</section>
			
			<section class="main-section right">
				<%= render 'layouts/loggedin' %>
			</section>		
		</nav>
	</div>
</div>
