<div id="header">
  <div id="title"><h1>WaySweeter</h1></div>
  <div id="nav">
    <ul>
      <li><a href="#">Compare Your Plan</a></li>
      <li><a href="#">View Best Plans</a></li>
      <li><a href="#">Blog</a></li>

    </ul>
  </div>
</div>